<div class="hidden" id="education" class="indent-p">
  <p>I have a Politics BA from <a href="http://politics.ucsc.edu/undergraduate/index.html">UCSC</a>.</p>
  <p>After graduating in 2013, I began to study web development and programming.</p>
  <p>I followed online curriculums such as the <a href="http://theodinproject.com/">Odin project</a>.</p>
  <p>I took three months of remote classes at <a href="http://codeunion.io">Code Union </a>.</p>
  <p>I took three months of full-time classes at <a href="http://www.appacademy.io/curriculum">App Academy</a>.</p>
  <br>
</div>
