  <div class="hidden" id="experience" class="indent-p">
    <p>Currently working on HR analytics at
    <a href="http://atipica.co">Atipica</a>.
    </p>
    <p>Previously at <a href="http://timeset.com">Timeset</a>,
      a social network for sharing geotagged photos.
      I wrote the social network logic into a Rails server and API,
      deployed, maintained, and added features.
     </p>
    <p><a href="https://play.google.com/store/apps/details?id=timeset.com.timeset&hl=en" class="icon-link"><img src="<%= image_path("android-icon.svg") %>" alt="">&nbsp Android link</a></p>

    <p>I previously worked as a backend developer at <a href="http://sobrr.life">Sobrr</a>,
      a social network with ephemeral content (expiring friendships, chats, and photos).
     </p>
    <p><a href="https://itunes.apple.com/us/app/sobrr-life-in-the-moment/id870994697?mt=8" class="icon-link"><img src="<%= image_path("apple-icon.png") %>" alt="">&nbsp iPhone link</a>
    <a href="https://play.google.com/store/apps/details?id=com.digit4me.sobrr" class="icon-link"><img src="<%= image_path("android-icon.svg") %>" alt="">&nbsp Android link</a> </p>
  </div>
