<span class="hidden" id="links">
  <a class="" href="http://github.com/maxpleaner">Github </a>
  <a class="" href="/resume">Resume </a>
  <a class="" href="http://linkedin.com/in/maxpleaner">LinkedIn</a>
</span>
