<span class="hidden" id="links">

  <div class="grid">

    <a class="redbox-link" href="http://github.com/maxpleaner">
      <div class='grid-item'>
        Github
      </div>
    </a>
    <a class="redbox-link" href="/resume">
      <div class='grid-item'>
        Resume
      </div>
    </a>
    <a class="redbox-link" href="http://linkedin.com/in/maxpleaner">
      <div class='grid-item'>
        LinkedIn
      </div>
    </a>

  </div>

</span>

