<span class="hidden" id="links">
  <a class="redbox-link" href="http://github.com/maxpleaner">Github </a>
  <a class="redbox-link" href="/resume">Resume </a>
  <a class="redbox-link" href="http://linkedin.com/in/maxpleaner">LinkedIn</a>
</span>
