  <!-- <p class="hidden" id="portfolio"> -->
    <table class="hidden" id="portfolio" style="">
      <tr>
        <th>project name</th>
        <th>topics</th>
        <th>description</th>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/paned_repl">Paned REPL</a></td>
        <td>Tmux</td>
        <td>A TMux wrapper for dynamic multiplexing in a REPL.</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/sinatra_sockets">sinatra_sockets</a></td>
        <td>Websockets<br>Sinatra</td>
        <td>A gemmified generator for a sinatra/websockets skeleton</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/gemmy">Gemmy</a></td>
        <td>Ruby language<br>Natural language</td>
        <td>A 'general-purpose' gem that I add eclectic functionality to,
      including a gem generater, ruby core extensions, and some natural language parsing / speech synthesis.</td>
      </tr>
      <tr>
        <td><a href="http://github.com/maxpleaner/persisted_hash">persisted_hash</a></td>
        <td>Persistence</td>
        <td>gem which syncs a hash's state with a yaml file</td>
      </tr>
      <tr>
        <td><a href="http://github.com/maxpleaner/easy_cache">easy_cache</a></td>
        <td>Persistence<br>Performance</td>
        <td>a gem which persistently caches the result of method calls</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/sounds">sounds</a><br>
      (<a href="https://www.youtube.com/watch?v=Yonce0PjepY">Screencast</a>)</td>
        <td>Audio</td>
        <td>A command line music maker.
      Uses multithreading and unix audio tools (mpg123, arecord)
      to implement a metronome, recording, and arpeggiator.
      Triggers sounds on keypress, loading samples from mp3 files.</td>
      </tr>
      <tr>
        <td>1. <a class="" href="https://github.com/maxpleaner/browser_tester">browser_tester</a><br>2. <a class="" href="https://github.com/maxpleaner/headless_browser_sinatra">headless_browser_sinatra</a> <br>(<a href="https://www.youtube.com/watch?v=9h89fxNTt7s">screencast</a>)<br>3. <a class="" href="https://github.com/maxpleaner/vidstream">vidstream</a></td>
        <td>Browser automation<br>Voice recognition<br>Websockets</td>
        <td>There are three iterations of a browser-based development environment for Selenium. <br>
        1. <code>browser_tester</code> opens a chrome browser on the local system, and has a drag-n-drop interface for exporting command sequences into Ruby modules.<br>
        2. <code>headless_browser_sinatra</code> uses a headless browser and screenshots. It records point-and-click action and can be run on a hosted server.<br>
        3. <code>vidstream</code> also uses a headless browser and screenshots, but has simple voice-control ability.        </td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/static_fleet">static_fleet</a> (<a href="https://www.youtube.com/watch?v=B45V5ssq2As">screencast</a>)</td>
        <td>Static site generation<br>AWS S3</td>
        <td>A web interface for building & deploying static websites to AWS S3. Built with Sinatra; includes an in-browser file navigator and editor</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/static">static</a></td>
        <td>Static site generation</td>
        <td>A static site framework where pages are written in Markdown. Displays content in a responsive grid with tags and filters.</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/genrb">genrb</a></td>
        <td>Build environment</td>
        <td>A static site compiler for sass, coffeescript, and slim. Includes an auto-reloading server using Guard.</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/sentence_interpreter">sentence_interpreter</a></td>
        <td>Natural language</td>
        <td>Parse a sentence into verb-noun phrases according to a user-defined lexicon.</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/spaceDagger">spaceDagger</a></td>
        <td>Meteor.js<br>HTML5 Geolocation<br>Websockets</td>
        <td>All online users are geocoded and plotted on a map. Built while learning Meteor.I also wrote <a href="https://medium.com/@maxpleaner/meteor-tutorial-plotting-online-users-on-a-map-adf3c3d1ebc6">
          a tutorial</a> to accompany this.
          </td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/marktplatz">marktplatz</a></td>
        <td>Express.js (Node)<br>Websockets<br>HTML5 Geolocation<br>Sequelize (async DB)</td>
        <td>Realtime accounts-based online user list, geolocation, and Google Map display.</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/tmsu-ruby">TMSU-ruby</a></td>
        <td>Filesystem tagging</td>
        <td>An ORM inspired by activerecord which uses the filesystem and TMSU tagging system</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/tickers">Tickers</a></td>
        <td>Websockets<br>Background jobs</td>
        <td>A web interface for managing background jobs.
          Includes an original async implementation and Bootstrap.</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/prototypical">Prototypical</a></td>
        <td>Websockets<br>Rails</td>
        <td>Unstyled Rails prototype of a tutor-hiring app.
        With realtime online-users list,
        realtime direct message notifications,
        and braintree payment gem.</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/tagger">LinkedIn crawler</a></td>
        <td>Browser automation</td>
        <td>Creates a categorized list of companies by crawling LinkedIn. Uses MonkeyLearn for keyword extraction</td>
      </tr>
      <tr>
        <td><a class="" href="http://github.com/maxpleaner/linux-keyboard-macros">linux-keyboard-macros</a></td>
        <td>Unix<br>Productivity</td>
        <td>Global keyboard macros for Linux. Uses evtest and xdotool to read/write keystrokes and trigger scripts.</td>
      </tr>
      <tr>
        <td><a class="" href="http://github.com/maxpleaner/ruby-cli-skeleton">ruby-cli-skeleton</a></td>
        <td>Ruby language</td>
        <td>A starter template for Ruby command line REPL applications with ActiveRecord.</td>
      </tr>
      <tr>
        <td><a class="" href="http://app.sobrr.life/presentation/around_feeds">Sobrr.Life promotional page</a></td>
        <td>Front-end</td>
        <td>A responsive pinterest-style vertical columns layout using <a href="http://masonry.desandro.com/">Masonry</a>. It includes infinite scroll and responsiveness.</td>
      </tr>
      <tr>
        <td><a class="" href="http://github.com/maxpleaner/socket_helpers">Socket helpers</a></td>
        <td>Websockets<br>Rails</td>
        <td>a gem I wrote for quickly putting together websocket / Rails apps.
      <a href="http://socket-helpers-example.herokuapp.com">See a realtime todo-list site live</a></td>
      </tr>
      <tr>
        <td><a class="" href="http://github.com/maxpleaner/chiptune-cli">Chiptune-cli</a></td>
        <td>Audio</td>
        <td>A ruby program which uses <a href="https://github.com/mental/bloopsaphone">bloopsaphone</a> to play electronic music. Generates random riff / instrumentation variations</td>
      </tr>
      <tr>
        <td><a class="" href="http://maxp-logbot.herokuapp.com/">Logbot</a></td>
        <td>Sinatra<br>IRC</td>
        <td>an IRC chat logging bot with a Sinatra web interface. The applications share a database and are hosted on Heroku</td>
      </tr>
      <tr>
        <td><a class="" href="http://maxp-trello.herokuapp.com/#boards/1">Trello clone</a></td>
        <td>Backbone.js<br>Rails</td>
        <td>Made at App Academy. Uses bootstrap and jquery ui drag-n-drop</td>
      </tr>
      <tr>
        <td><a class="" href="http://maxpleaner.github.io/snake/">Snake</a></td>
        <td>HTML5</td>
        <td>built at App Academy with Javascript (play in browser)</td>
      </tr>
      <tr>
        <td><a class="" href="http://maxpleaner.github.io/asteroids/">Asteroids</a></td>
        <td>HTML5</td>
        <td>built at App Academy with Javascript (play in browser)</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/bandcamp_downloader">Bandcamp Downloader</a></td>
        <td>Audio<br>Browser automation</td>
        <td>Downloads songs from Bandcamp</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/MaxPleaner/jobapps/">jobapps</a></td>
        <td>Productivity<br>Browser automation</td>
        <td>A job application tracking system with a web interface. Includes a selenium script
  to get lists of companies off AngelList.</td>
      </tr>
      <tr>
        <td><a class="" href="https://github.com/maxpleaner/find_job_listings">Find Job Listings</a></td>
        <td>Productivity<br>Browser automation</td>
        <td>A Ruby CLI to find job listings using APIs and scraping. Queries Indeed, Stackoverflow, and more</td>
      </tr>
    </table>
  <!-- </p> -->

