  <div class="hidden" id="programming-skills" class="indent-p">
    <p>
    I know the fundamentals of website creation - HTML, CSS, Javascript, and various static website hosts such as Github pages and AWS S3.
    </p>
    <p>
    I use a lot of other tools for front-end development as well. Sass, Slim, and Coffeescript are my go-to preprocessors. Bootstrap and Masonry aid in responsiveness and layout. I'm comfortable writing promise-based async code using ES6.
    </p>
    <p>
    I use Linux, and have experience with various shell utils such as tmux, imagemagick, ffmpeg, etc. I'm practised in making system calls from multithreaded Ruby apps. 
    </p>
    <p>
    I know SQL basics, but spend more time using an ORM like ActiveRecord or DataMapper. I have experience on production apps using Redis, MySQL, and Postgres/Postgis. I've explored other key-val storage systems as well.
    </p>
    <p>
    A lot of my work experience has involved JSON APIs in Rails. But I'm quite keen on websockets and realtime. I'm also more generally interested in exploring the functionality of the browser - audio/video, geolocation, voice recognition, etc.
    </p>
    <p>
    My 'main language' is Ruby, and I regularly make use of both Sinatra and Rails. In addition, I've published a number of Ruby gems.
    </p>
    <p>
    I value automated testing to validate code. I use RSpec, Cucumber, Mechanize, and Selenium/Capybara. I value unit tests, and especially enjoy automating the browser.
    </p>
    <p>
    For personal project hosting I usually use Heroku, but have a little practice doing from-the-ground-up hosting on Linode. On production apps, I've mainly used AWS.
    </p>
    <p>
    I have learned some server-side Javascript frameworks as well, such as Express, Meteor, and a little React/Redux.
    </p>
  </div> <br>
