<div id="skills-bullets" class="good-pre hidden">

  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200, "gutter": 20 }'>


    <div class="grid-item">
       <div class="skills-item-title">Ruby</div>
         Sinatra, Rails, EventMachine, threads, refinements,
         custom gem generator, 1300 starred projects on Github,
         380 StackOverflow answers
    </div>

    <div class="grid-item">
       <div class="skills-item-title">APIs</div>
         JSON, Websockets, push notifications,
         oAuth, chat bots
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Storage</div>
         Postgres, Postgis, MySql, SQLite,
         Redis, Firebase, MongoDB, PStore,
         filesystem tagging, AWS S3
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Hosting</div>
         Heroku, AWS Elastic Beanstalk and EC2, Linode
         AWS S3 static hosting, Github pages
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Unix</div>
         Linux, Ubuntu, Bash, Fish,
         tmux, screen, git, etc.
    </div>

    <div class="grid-item">
       <div class="skills-item-title">ORM</div>
         DataMapper, ActiveRecord, Sequelize, redis-objects,
         custom filesystem ORM
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Test Automation</div>
         Selenium, Capybara, Poltergeist,
         RSpec, Cucumber, Jasmine, Mechanize,
         headless
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Front-end</div>
         HTML, CSS, Javascript
         Slim, Sass, Coffeescript,
         Masonry, Bootstrap, Backbone.js,
         audio/video, maps, voice,
    </div>


    <div class="grid-item">
       <div class="skills-item-title">Node.js</div>
         Express, Meteor, React
         Babel, Bower, Browserify
    </div>

  </div>
</div>
