<span id="skills-bullets" class="hidden">

  <div class="grid">


    <div class="grid-item">
       <div class="skills-item-title">Ruby</div>
         Sinatra, Rails, making gems, <br>
         EventMachine, threads, system calls, <br>
         command line music
    </div>

    <div class="grid-item">
       <div class="skills-item-title">APIs</div>
         JSON, AJAX, Websockets, <br>
         oAuth, push notifications, <br>
         chat bots
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Storage</div>
         Postgres, Postgis, MySql, SQLite, <br>
         Redis, Firebase, MongoDB, PStore, <br>
         filesystem tagging, AWS S3 <br>
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Hosting</div>
         AWS Elastic Beanstalk and EC2, <br>
         AWS S3 static hosting, Github pages <br>
         Heroku, Linode <br>
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Unix</div>
         Linux, Ubuntu, Bash, Fish, <br>
         tmux, screen, git <br>
    </div>

    <div class="grid-item">
       <div class="skills-item-title">ORM</div>
         DataMapper, ActiveRecord, <br>
         Sequelize, redis-objects, <br>
         custom filesystem ORM
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Test Automation</div>
         Selenium, Capybara, Mechanize, <br>
         RSpec, Cucumber, Jasmine <br>
         headless
    </div>

    <div class="grid-item">
       <div class="skills-item-title">Front-end</div>
         HTML, Slim, CSS, Sass, Bootstrap, <br>
         Javascript, Coffeescript, Backbone, <br>
         Masonry, audio/video, maps, voice <br>
    </div>


    <div class="grid-item">
       <div class="skills-item-title">Node.js</div>
         Express, Meteor, React <br>
         Babel, Bower, Browserify <br>
    </div>

  </div>

</span>

