<!--  hidden by JS -->
<!--  .js-test-hidden -->
<div class="js-test-hidden">
  <h1>YOU DON"T HAVE JAVASCRIPT, WHICH IS REQUIRED FOR FUNCTIONAL LINKS & CONTENT REORDERING</h1>
</div>

<!--  .header -->
<div class="header">

  <!--  .intro -->
  <section class="intro">
    <b> Max Pleaner </b> <br>
    <i> <small>Web Developer / Software Engineer </small></i>
  </section>
  <hr>

  <!--  .primary-links  -->
  <!--  .clickable -->
  <!--  data-target -->
  <section class="primary-links">
    <a class="clickable" data-target="skills" href="#skills">Skills</a>
    <a class="clickable" data-target="experience" href="#experience">Experience</a>
    <a class="clickable" data-target="links" href="#links">Links</a>
  </section>

</div>

<!--  .focus-area-1 -->
<!--  .focus-area-2 -->
<section class="focus-area-1"></section><br>
<section class="focus-area-2"></section>

<!--  .skills -->
<!--  .clickable -->
<!--  data-target -->
<section class="skills" id="skills">
  <p><b>Skills</b></p> <br>
  <a class="clickable" data-target="ruby" href="#ruby">Ruby</a>
  <a class="clickable" data-target="javascript" href="#javascript">Javascript</a>
  <a class="clickable" data-target="html" href="#html">HTML</a>
  <a class="clickable" data-target="css" href="#css">CSS</a>
  <a class="clickable" data-target="databases" href="#databases">Databases</a>
  <a class="clickable" data-target="deployment" href="#deployment">Deployment</a>
  <a class="clickable" data-target="testing" href="#testing">Testing</a>
  <a class="clickable" data-target="linux" href="#linux">Linux</a>
  <a class="clickable" data-target="iot" href="#iot">Internet of Things</a>
  <a class="clickable" data-target="world" href="#world">The World at Large</a>
</section>

<!--  .skill-details -->
<section class="skill-details">
  <section class="ruby" id="ruby">
    <p><b>ruby</b></p> <br>
  </section>
  <section class="javascript" id="javascript">
    <p><b>javascript</b></p> <br>
  </section>
  <section class="html" id="html">
    <p><b>html</b></p> <br>
  </section>
  <section class="css" id="css">
    <p><b>css</b></p> <br>
  </section>
  <section class="databases" id="databases">
    <p><b>databases</b></p> <br>
  </section>
  <section class="deployment" id="deployment">
    <p><b>deployment</b></p> <br>
  </section>
  <section class="testing" id="testing">
    <p><b>testing</b></p> <br>
  </section>
  <section class="linux" id="linux">
    <p><b>linux</b></p> <br>
  </section>
  <section class="iot" id="iot">
    <p><b>iot</b></p> <br>
  </section>
  <section class="world" id="world">
    <p><b>world</b></p> <br>
  </section>
</section>

<section>
  <div class="experience" id="experience">
    <p><b>Experience</b></p> <br>
    I worked at Sobrr.life
    I also went to App Academy
    I also have a Politics B.A.
  </div>
</section>

<section>
  <div class="links" id="links">
    <p><b>Links</b></p> <br>
    <a href="http://github.com/maxpleaner">Github</a> <br>
    <a href="#">Code Wiki</a>
  </div>
</section>
