<h1> Max Pleaner </h1>

<h2> Web Developer / Software Engineer </h2>

<p class="summary">
    I'm located in Portland and looking for work / projects locally or remotely.
</p>

<p class="skills">
  <section class="skill">
    <h5>Ruby<h5>
    <ul>
    </ul>
  </section>

  <section class="skill">
    <h5>Javascript<h5>
    <ul>
    </ul>
  </section>

  <section class="skill">
    <h5>HTML<h5>
    <ul>
    </ul>
  </section>

  <section class="skill">
    <h5>CSS<h5>
    <ul>
    </ul>
  </section>

  <section class="skill">
    <h5>Databases<h5>
    <ul>
    </ul>
  </section>

  <section class="skill">
    <h5>Deployment<h5>
    <ul>
    </ul>
  </section>

  <section class="skill">
    <h5>Testing<h5>
    <ul>
    </ul>
  </section>

  <section class="skill">
    <h5>Internet of Things<h5>
    <ul>
    </ul>
  </section>

</p>

<p class="experience">
  I worked at Sobrr.life
  I also went to App Academy
  I also have a Politics B.A.
</p>
