<!--HEADER + NAVBAR SECTION -->
<div class="page-container">

  <!-- HEADER -->
  <b>Max Pleaner</b><br><small>web development</small><br><br>

  <!-- NAVBAR -->
  <b class="redbox-link section-btn portfolio" target="#portfolio">Hobby projects</b>
  <b class="redbox-link section-btn about-me" target="#about-me">Experience</b>
  <b class='redbox-link section-btn contact' target="#contact">Contact</b>

  <br><br><br>
  <hr>

</div>


<!-- PAGE CONTENT SECTIONS -->
<div class="page-container">

  <%= render "partials/my_apps" %>
  <%= render "partials/about_me" %>
  <%= render "partials/contact" %>

</div>

