<!--  hidden by JS -->
<!--  .js-test-hidden -->
<div class="js-test-hidden">
Loading Javascript
</div>

<div class="header">
  <section class="intro">
    <b> Max Pleaner </b> <br><br>
    <i> <small>Web Developer / Software Engineer </small></i>
  </section>
  <br>
  <hr>
  <br>

<p><b>Links</b></p> <br> <br>

<pre><a href="http://github.com/maxpleaner">Github</a>
    
<a href="http://linkedin.com/in/maxpleaner">LinkedIn</a>

Email: <a href="mailto:maxpleaner@gmail.com">maxpleaner@gmail.com</a>

Portfolio pieces:

<a href="http://app.sobrr.life/presentation/around_feeds">Sobrr.Life promotional page</a>. I implemented the responsive pinterest-style vertical columns layout using <a href="http://masonry.desandro.com/">Masonry</a> and added infinite scroll.

<a href="http://maxp-logbot.herokuapp.com/">Logbot</a>, an IRC chat logging bot with a Sinatra web interface.

<a href="http://maxp-trello.herokuapp.com/#boards/1">Trello</a> clone, made with Backbone.js and Rails.

<a href="http://maxp-redirector.herokuapp.com/">Redirector</a>, a url shortener and chrome extension.

<a href="http://maxpleaner.github.io/snake/">Snake</a>, built with Javascript (play in browser).

<a href="http://maxpleaner.github.io/asteroids/">Asteroids</a>, build with HTML5 Canvas (play in browser).

<a href="https://github.com/maxpleaner/chess">CLI chess</a> (in Ruby).

<a href="https://github.com/maxpleaner/maxp-site">This site</a> (Github link) - Single page site built with jQuery + Rails

<a href="https://github.com/maxpleaner/youtube-audio-downloader">Youtube Audio Downloader</a>, a wrapper script over <a href="https://rg3.github.io/youtube-dl/
">youtube-dl</a> for easily downloading audio tracks from youtube. 
