<div id="top"></div>

<section class="intro">
  <br><b> Max Pleaner </b> <br><br>
  <i> Internet coder </i>
</section>
<br>

<div class="main-section section">
  
  <br><b>Links:   &nbsp</b> <br><br>
  <li><a class="link" href="http://github.com/maxpleaner">Github</a><br></li>
  <li><a class="link" href="/resume">Resume</a><br></li>
  <li><a class="link" href="http://linkedin.com/in/maxpleaner">LinkedIn</a></li>
  <br><br>

  <b>Email: &nbsp</b> <a href="mailto:maxpleaner@gmail.com">mailto</a>
  <br><br><br>

  <p>
    <b>Some of the tools I use the most are:</b> <br> <br>
    <li class="minisection">
      Ruby, RubyGems, Sinatra, Rails, Javascript, NPM, jQuery, SQL, RSpec, Mechanize,
      Git, Heroku, AWS, Bash, AJAX, JSON, Ubuntu software, HTML, CSS
    </li> <br>
  </p>
  <p><br>

    <b>I also have experience with:</b> <br> <br>
    <li class="minisection">
      Backbone.js, Jasmine, Node.js, Redis, Resque, websockets, YAML, Markdown,
      Emailing, Mobile notifications, admin and docs interfaces, self-hosting, SSL,
      error reporting, Weebly, RSS, oAuth2, IRC, Bootstrap, SASS, ImageMagick,
      API consumption (Google Maps/Calendar, Twitter, Facebook, etc. )
      Cron, parallel processing
    </li> <br>
  </p><br>

    <b>These tools assist in tasks like:</b> <br> <br>
    <div class="minisection">
      <li>Automated testing - integration tests using HTTP and headless browser. </li><br>
      <li>Web servers, creating/consuming APIs. </li><br>
      <li>Single page apps, Blogs/CMS, realtime </li><br>
      <li>Web design - drag-and-drop, templates, plugins</li><br>
      <li>Hosting and scaling - worker servers, caches. </li><br>
      <li>Command line interfaces, UNIX (Apple, Linux) scripting. </li><br>
      <li>Databases, data-migration and human-readable data serialization. </li><br>
      <li>Maps, geolocation and localization</li><br>
      <li>Image manipulation</li><br>
    </div>
  </p>
  <p> 

  <p><br>
    <b>I've started learning:</b> <br> <br>
    <li class="minisection">
      Meteor.js, React, Ember, Volt.rb, PhantomJS, Python, Algorithms, HTML5 Canvas,
      semantic filesystems, C++ (enrolled at CCSF), Chiptune, programmed music
    </li> <br>
  </p>
  <p><br>
    <b>I'd like to learn:</b> <br> <br>
    <li class="minisection">
      Haskell, Erlang, Go, Racket, D3, Cordova, machine learning,
      crawlers, microcontrollers, microbiology, home automation, low-cost technology 
    </li> <br>
  </p>

  <p><br>
    In addition to this stuff I play drums.
  </p>

  <p>
    
  </p>
  <p>
    
  </p><br><br>

  <b>Experience / Education: </b><br><br>

  <p class="section">
  Most recently, I worked at <a href="http://timeset.com">Timeset</a> as their "backend" developer.
  <br> I built a JSON API using Rails and AWS.
  <br> It's a social network for sharing geotagged photos.
  </p>
  <br> 

  <p class="section">
  I previously worked at <a href="http://sobrr.life">Sobrr</a>,
  <br> an ephemeral social network (expiring friendships, chats, and photos).
  <br>I worked on the JSON API and AWS deployment.
  </p>
  <br>

  <p class="section">
  I have a Politics BA from <a href="http://politics.ucsc.edu/undergraduate/index.html">UCSC</a>.
  <br>After graduating in 2013, I began to study web development and programming.
  <br>Followed online curriculums such as the <a href="www.theodinproject.com/">Odin project</a>.
  <br>Took three months of full-day classes at <a href="http://appacademy.io">App Academy</a>.
  <br>3 month virtual class at <a href="http://codeunion.io">Code Union </a>.
  </p>
  <br>

    <br><b>Some things I've made:</b> <br>

    <br><br><p class="subsection"><a class="link" href="http://github.com/maxpleaner/script-creator">script-creator</a> <br>
    A web interface for creating Ruby scripts and running them</p>.

    <br><br><p class="subsection"><a class="link" href="http://github.com/maxpleaner/ruby-cli-skeleton">ruby-cli-skeleton</a> <br>
    A starter template for a ruby command line application. <br>
    Uses Ripl to implement a REPL</p>

    <br><br><div class="subsection"><a class="link" href="http://app.sobrr.life/presentation/around_feeds">Sobrr.Life promotional page</a>.<br>
    Made a responsive pinterest-style vertical columns layout using <a href="http://masonry.desandro.com/">Masonry</a>.
    <br> It includes infinite scroll, responsiveness and an administrative interface</div>

    <br><br><div class="subsection"><a class="link" href="http://github.com/maxpleaner/socket_helpers">Socket helpers</a>
    <br>a gem I wrote for quickly putting together websocket / Rails apps.
    <br><a href="http://socket-helpers-example.herokuapp.com">See a realtime todo-list site live</a></div>

    <br><br><div class="subsection"><a class="link" href="http://github.com/maxpleaner/chiptune-cli">Chiptune-cli</a>
    <br>Uses <a href="https://github.com/mental/bloopsaphone">bloopsaphone</a> to play electronic music
    <br>Programmatically creates songs</div>

    <br><br><div class="subsection"><a class="link" href="http://maxp-logbot.herokuapp.com/">Logbot</a>
    <br>an IRC chat logging bot with a Sinatra web interface.
    <br>The applications share a database and are hosted on Heroku</div>

    <br><br><p class="subsection"><a class="link" href="http://maxp-trello.herokuapp.com/#boards/1">Trello clone</a>
    <br>made with Backbone.js and Rails, an App Academy project</p>

    <br><br><p class="subsection"><a class="link" href="http://maxp-redirector.herokuapp.com/">Redirector</a>
    <br> a url shortener and chrome extension.</p>

    <br><br><p class="subsection"><a class="link" href="http://maxpleaner.github.io/snake/">Snake</a>
    <br> built with Javascript (play in browser). An App Academy project</p>

    <br><br><p class="subsection"><a class="link" href="http://maxpleaner.github.io/asteroids/">Asteroids</a>
    <br> build with HTML5 Canvas (play in browser). An App Academy project</p>

    <br><br><p class="subsection"><a class="link" href="https://github.com/maxpleaner/youtube-audio-downloader">Youtube Audio Downloader</a>
    <br>a wrapper script over <a href="https://rg3.github.io/youtube-dl/">youtube-dl</a> for easily downloading audio tracks from youtube. </p>

    <br><br><p class="subsection"><a class="link" href="https://github.com/maxpleaner/bandcamp_downloader">Bandcamp Downloader</a>
    <br>Downloads songs from Bandcamp </p>

    <br><br><p class="subsection"><a class="link" href="https://github.com/MaxPleaner/job_tracker_cli/">Job Application Tracker</a>
    <br>A Ruby CLI for tracking job applications and responses.  
    </p>

    <br><br><p class="subsection"><a class="link" href="https://github.com/maxpleaner/gems">Gems</a>
    <br>a CLI script to show the latest updated gems from rubygems.org </p>

    <br><br><p class="subsection"><a class="link" href="https://github.com/maxpleaner/find_job_listings">Find Job Listings</a>
    <br>A Ruby CLI to find job listings using APIs and scraping.
    <br>Queries Indeed, Stackoverflow, and more</p>
    <br>
  </section>
  
</div>

<a href="#top">Top</a>
<br>
<br>
<br>
<br>