<!--  hidden by JS -->
<!--  .js-test-hidden -->
<div class="js-test-hidden">
  <h1>YOU DON"T HAVE JAVASCRIPT, WHICH IS REQUIRED FOR FUNCTIONAL LINKS & CONTENT REORDERING</h1>
</div>

<!--  .header -->
<div class="header">

  <!--  .intro -->
  <section class="intro">
    <b> Max Pleaner </b> <br>
    <i> <small>Web Developer / Software Engineer </small></i>
  </section>
  <hr>

  <!--  .primary-links  -->
  <!--  .clickable -->
  <!--  data-target -->
  <section class="primary-links">
    <a class="clickable" data-target="skills" href="skills">Skills</a>
    <a class="clickable" data-target="experience" href="experience">Experience</a>
  </section>

</div>

<!--  .focus-area-1 -->
<!--  .focus-area-2 -->
<section class="focus-area-1"></section>
<section class="focus-area-2"></section>



<!--  .skills -->
<!--  .clickable -->
<!--  data-target -->
<section class="skills">
  <a class="clickable" data-target="ruby" href="ruby">Ruby</a>
  <a class="clickable" data-target="javascript" href="javascript">Javascript</a>
  <a class="clickable" data-target="html" href="html">HTML</a>
  <a class="clickable" data-target="css" href="css">CSS</a>
  <a class="clickable" data-target="databases" href="databases">Databases</a>
  <a class="clickable" data-target="deployment" href="deployment">Deployment</a>
  <a class="clickable" data-target="testing" href="testing">Testing</a>
  <a class="clickable" data-target="linux" href="linux">Linux</a>
  <a class="clickable" data-target="iot" href="iot">Internet of Things</a>
  <a class="clickable" data-target="world" href="world">The World at Large</a>
</section>

<!--  .skill-details -->
<section class="skill-details">
  <section class="ruby">ruby DETAILS</section>
  <section class="javascript">javascript DETAILS</section>
  <section class="html">html DETAILS</section>
  <section class="css">css DETAILS</section>
  <section class="databases">databases DETAILS</section>
  <section class="deployment">deployment DETAILS</section>
  <section class="testing">testing DETAILS</section>
  <section class="linux">linux DETAILS</section>
  <section class="iot">iot DETAILS</section>
  <section class="world">world DETAILS</section>
</section>

<section>
  <div class="experience">
    I worked at Sobrr.life
    I also went to App Academy
    I also have a Politics B.A.
  </div>
</section>
