<div class="page-container">

<div id="top"></div>

<section class="intro">
  <br><b> Max Pleaner </b> <br><br>
  <i> Internet coder </i>
</section>
<br>

<div class="main-section section">
  
  <br><b>Links: </b> <br><br>
  <li><a class="link" href="http://github.com/maxpleaner">Github</a><br></li>
  <li><a class="link" href="/resume">Resume</a><br></li>
  <li><a class="link" href="http://linkedin.com/in/maxpleaner">LinkedIn</a></li>
  <br><br>

  <b>Email: &nbsp</b> <a href="mailto:maxpleaner@gmail.com">mailto</a>
  <br><br><br>

  <p>
    <b>Some of the tools I use the most are:</b> <br> <br>
    <li class="minisection">
      Ruby, RubyGems, Sinatra, Rails, Javascript, NPM, jQuery, SQL, RSpec, Mechanize,
      Git, Heroku, AWS, Bash, AJAX, JSON, Ubuntu software, HTML, CSS
    </li> <br>
    More can be seen at <a href='http://stackshare.io/MaxPleaner/my-stack'>my stackshare profile</a>. <br>
  </p>
  <p><br>

    <b>I also have experience with:</b> <br> <br>
    <li class="minisection">
      Backbone.js, Jasmine, Node.js, Redis, Resque, websockets, YAML, Markdown,
      Emailing, Mobile notifications, admin and docs interfaces, self-hosting, SSL,
      error reporting, Weebly, RSS, oAuth2, IRC, Bootstrap, SASS, ImageMagick,
      using APIs
    </li> <br>
  </p><br>

    <b>These tools assist in tasks like:</b> <br> <br>
    <div class="minisection">
      <li>Automated testing - integration tests using HTTP and headless browser. </li><br>
      <li>Web servers, creating/consuming APIs. </li><br>
      <li>Single page apps, Blogs/CMS, realtime </li><br>
      <li>Web design - drag-and-drop, templates, plugins</li><br>
      <li>Hosting and scaling - worker servers, caches, SQL optimization </li><br>
      <li>Command line interfaces, UNIX (Apple, Linux) scripting. </li><br>
      <li>Databases, data-migration and human-readable data serialization. </li><br>
      <li>Maps, geolocation and localization</li><br>
    </div>
  </p>
  <p> 

  <p><br>
    <b>I've started learning:</b> <br> <br>
    <li class="minisection">
      Meteor.js, React, Ember, Volt.rb, PhantomJS, Python, Algorithms, HTML5 Canvas,
      semantic filesystems, C++ (enrolled at CCSF), procedurally generated music,
      web crawlers, NLP / text classifiers
    </li> <br>
  </p>
  <p><br>
    <b>I'd like to learn:</b> <br> <br>
    <li class="minisection">
      High-concurrency languages, data-visualization, native compilers,
      telephony, microcontrollers, low-cost technology, biology
    </li> <br>
  </p>

  <p><br>
    In addition to this stuff I play drums.
  </p>

  <p>
    
  </p>
  <p>
    
  </p><br><br>

  <b>Experience / Education: </b><br><br>

  <div class="section">
  <p>Most recently, I worked at <a href="http://timeset.com">Timeset</a> as their "backend" developer.</p> <br>
  <p>I built a JSON API using Rails and AWS.</p> <br>
  <p>It's a social network for sharing geotagged photos.</p> <br>
  <p><a href="https://play.google.com/store/apps/details?id=timeset.com.timeset&hl=en" class="icon-link"><img src="<%= image_path("android-icon.svg") %>" alt="">&nbsp Android link</a></p>
  </div>
  <br> 

  <div class="section">
  <p>I previously worked at <a href="http://sobrr.life">Sobrr</a>,</p> <br>
  <p> an ephemeral social network (expiring friendships, chats, and photos).</p> <br>
  <p>I worked on the JSON API and AWS deployment.</p> <br>
  <p><a href="https://itunes.apple.com/us/app/sobrr-life-in-the-moment/id870994697?mt=8" class="icon-link"><img src="<%= image_path("apple-icon.png") %>" alt="">&nbsp iPhone link</a>
  <a href="https://play.google.com/store/apps/details?id=com.digit4me.sobrr" class="icon-link"><img src="<%= image_path("android-icon.svg") %>" alt="">&nbsp Android link</a> </p>
  </div>
  <br>

  <div class="section">
  <p>I have a Politics BA from <a href="http://politics.ucsc.edu/undergraduate/index.html">UCSC</a>.</p> <br>
  <p>After graduating in 2013, I began to study web development and programming.</p> <br>
  <p>I followed online curriculums such as the <a href="http://theodinproject.com/">Odin project</a>.</p>
  <p>I took three months of remote classes at <a href="http://codeunion.io">Code Union </a>.</p> <br>
  <p>I took three months of full-day classes at <a href="http://www.appacademy.io/curriculum">App Academy</a>.</p> <br>
  </div> <br>

    <br><b>Some things I've made:</b> <br>

    <br><br><div class="subsection"><a class="link" href="https://github.com/maxpleaner/tickers">Tickers</a>
    <p>A web interface for managing background jobs.</p> <br>
    <p>Includes an original async implementation and Bootstrap.</p>
    </div>
    <br>

    <br><br><div class="subsection"><a class="link" href="https://github.com/maxpleaner/tagger">LinkedIn crawler</a>
    <p>Creates a categorized list of companies by crawling LinkedIn.</p> <br>
    <p>Uses MonkeyLearn for keyword extraction</p>
    </div>
    <br>

    <br><br><div class="subsection"><a class="link" href="http://github.com/maxpleaner/script-creator">script-creator</a> <br>
    A web interface for creating Ruby scripts and running them
    </div>.

    <br><br><div class="subsection"><a class="link" href="http://github.com/maxpleaner/linux-keyboard-macros">linux-keyboard-macros</a> <br>
      Global keyboard macros for Linux.
      Uses evtest and xdotool to read/write keystrokes and trigger scripts. 
    </div>.

    <br><br><div class="subsection"><a class="link" href="http://github.com/maxpleaner/ruby-cli-skeleton">ruby-cli-skeleton</a> <br>
    <p>A starter template for a ruby command line application. <br></p> <br>
    <p>Uses Ripl to implement a REPL</p></div>

    <br><br><div class="subsection"><a class="link" href="http://app.sobrr.life/presentation/around_feeds">Sobrr.Life promotional page</a>.<br>
    <p>Made a responsive pinterest-style vertical columns layout using <a href="http://masonry.desandro.com/">Masonry</a>.</p> <br>
    <p>It includes infinite scroll, responsiveness and an administrative interface</p></div>

    <br><br><div class="subsection"><a class="link" href="http://github.com/maxpleaner/socket_helpers">Socket helpers</a>
    <p>a gem I wrote for quickly putting together websocket / Rails apps.</p> <br>
    <p><a href="http://socket-helpers-example.herokuapp.com">See a realtime todo-list site live</a></p></div>

    <br><br><div class="subsection"><a class="link" href="http://github.com/maxpleaner/chiptune-cli">Chiptune-cli</a>
    <p>Uses <a href="https://github.com/mental/bloopsaphone">bloopsaphone</a> to play electronic music</p> <br>
    <p>Programmatically creates songs</p></div>

    <br><br><div class="subsection"><a class="link" href="http://maxp-logbot.herokuapp.com/">Logbot</a>
    <p>an IRC chat logging bot with a Sinatra web interface.</p> <br>
    <p>The applications share a database and are hosted on Heroku</p></div>

    <br><br><div class="subsection"><a class="link" href="http://maxp-trello.herokuapp.com/#boards/1">Trello clone</a>
    <p>Made with Backbone and Bootstrap at App Academy.</p></div>

    <br><br><div class="subsection"><a class="link" href="http://maxp-redirector.herokuapp.com/">Redirector</a>
    <p>a url shortener and chrome extension.</p></div>

    <br><br><div class="subsection"><a class="link" href="http://maxpleaner.github.io/snake/">Snake</a>
    <p>built with Javascript (play in browser). An App Academy project</p></div>

    <br><br><div class="subsection"><a class="link" href="http://maxpleaner.github.io/asteroids/">Asteroids</a>
    <p>build with HTML5 Canvas (play in browser). An App Academy project</p></div>

    <br><br><div class="subsection"><a class="link" href="https://github.com/maxpleaner/youtube-audio-downloader">Youtube Audio Downloader</a>
    <p>a wrapper script over <a href="https://rg3.github.io/youtube-dl/">youtube-dl</a> for easily downloading audio tracks from youtube. </p></div>

    <br><br><div class="subsection"><a class="link" href="https://github.com/maxpleaner/bandcamp_downloader">Bandcamp Downloader</a>
    <p>Downloads songs from Bandcamp </p></div>

    <br><br><div class="subsection"><a class="link" href="https://github.com/MaxPleaner/job_tracker_cli/">Job Application Tracker</a>
    <p>A Ruby CLI for tracking job applications and responses.  </p>
    </div>

    <br><br><div class="subsection"><a class="link" href="https://github.com/maxpleaner/gems">Gems</a>
    <p>a CLI script to show the latest updated gems from rubygems.org</p> </div>

    <br><br><div class="subsection"><a class="link" href="https://github.com/maxpleaner/find_job_listings">Find Job Listings</a>
    <p>A Ruby CLI to find job listings using APIs and scraping.</p> <br>
    <p>Queries Indeed, Stackoverflow, and more</p></div>
    <br>

  </section>
  
</div>

<a href="#top">Top</a>
<br>
<br>
<br>
<br>


</div> <!-- .page-container -->