/*
*= require main
*= require bootstrap
*= require telestrap
*= require navbar
*= require tooltip
*/


#resume #page1 {
  font-size: 12px;
}

#resume #page2 {
  font-size: 12px;
}


.redbox-link, .redbox-link:visited {
  display: inline-block;
  font-weight: bold;
  color: aqua;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  background-color: black;
}

.redbox-link:hover {
  background-color: rgb(0, 0, 40);
}


.indent-p p {
  padding-left: 20px;
}

table, th, td {
    border: 1px dotted darkgrey;
}

td, th {
  padding: 10px;
  min-width: 250px;
}

.hidden {
  display: none
}


.good-pre {
  font-size: 16px;
  color: white;
}

body, html {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 300px;
}

.skills-item-title {
  font-size: 20px;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  color: pink;
}


.grid-item {
   display: inline-block;
   float: left;
   /*width: 250px;*/
   padding: 15px;
   /*padding-left: 10px;*/
   /*padding-bottom: 20px;*/
   height: 175px;
   width: 300px;
   text-align: center;
   border: 1px solid white;
   margin: 5px;
   /*margin-bottom: 5px;*/
}

#portfolio > .grid > .grid-item {
  width: auto;
  height: auto;
  max-width: 300px;
}

#skills-bullets a {
  color: blue;
  display: inline-block;
  transition: border 0.5s ease-in;
  /*padding: 5px;*/
  border: 1px solid black;
}

#skills-bullets a:hover {
  border: 1px solid white;
}

label {
  color: white
}


.dark-tooltip.dark {
  border: 1px solid darkblue;
  font-weight: bold;
}

.body-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /*background-size: 1000px;*/
  /*background: url("aesthetic.png");*/
  /*background-repeat: no-repeat;*/
  opacity: 0.05;
  /*z-index: 0*/
  /*float: left;*/
  pointer-events: none;
}

body {
  /*z-index: 1;*/
}


