

body {
  background: lighten(teal, 70%);
  font-size: 20px;
}

body > .section {
  background: lighten(teal, 70%);
}

pre {
  // width: 100%;
  margin-left: 0;
  overflow-x: scroll;
  // word-wrap: none;
}


.link {
  display: inline-block;
  font-family: monospace;
  border: 1px solid black;
  border-radius: 20px;
  background: darken(white, 10%);
  padding: 15px;
  margin-bottom: 10px;
  // transition: background .5s ease-in;
  // transition: box-shadow .25s ease-in;
}

.link:hover {
  background: darken(white, 20%);
  box-shadow: 0 0 20px yellow;
} 

.section {
  border: 1px solid darken(white, 20%);
  padding: 15px;
}

.minisection {
  border: 1px solid lighten(red, 30%);
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 10px;
}

.page-container {
  height: 100% !important;
  width: 80% !important;
  margin: 0 auto !important;
  border: 1px solid black;
}

.subsection {
  border: 1px solid darken(white, 20%);
  padding: 15px;
  margin: -10px 0;
}

.section, .subsection, .minisection {
  background: rgba(0, 0, 0, 0.1)
}

p {
  margin: 0;
}

.intro {
  text-align: center;
}

