.header {
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
  margin: 20px;
}

.focus-area-1, .focus-area-2 {
  margin: 20px;
}

.skills .clickable {
  border: 1px solid black;
  padding: 20px;
  display: inline-block;
  margin-top: 5px;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.skills .clickable:hover {
  background-color: #B4E0E8;
}
